*.bak
*/lib
*.o
*.or
*.ppu
*.obj
*.s
*.exe
plans.md
trash/
papaj_cli/papaj
papaj_cli/backup/
papaj_cli/countlines.sh
papaj_gui/backup/
papaj_gui/papaj_gui
papaj_gui/papaj_gui.exe
papaj_gui/temp.ppsc
papaj_gui/papaj
papaj_gui/papaj.exe
*.test.ppsc

